[submodule "src/lib/common"]
	path = src/lib/common
	url = https://github.com/clewup/common
[submodule "src/lib/authkitty"]
	path = src/lib/authkitty
	url = https://github.com/clewup/authkitty-helpers
